body {
    color: #333333;
    text-align: left;
    background-color: #FFFDF5;
}

.prova {
    display: inline-flex;
}

.dashboard {
    width: 70%;
    height: 100%;
    margin-top: -16px;
}

.navigazione {
    width: 30%;
    padding: 0px 48px 0px 24px;
    height: 100%;
}

h1 {
    font-family: Georgia, serif;
    font-weight: bold;
    font-size: 32px;
}

h2 {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 10px;
    letter-spacing: 1.5px;
    font-weight: bolder;
}

h3 {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 12px;
    letter-spacing: 0.5px;
    font-weight: 100;
    line-height: 1.4;
}

.logo {
    display: flex;
}

.container-site {
    height: 100vh;
}

.container-site-small {
    padding: 40px 48px 16px 48px;
}

.freccie {
    width: 50px;
    display: inline-flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 0 10px;
}

.dx {
    right: 0;
    position: relative;
}

.bottone-on {
    color: #FFFDF5;
    background-color: #333;
    border-radius: 30px 30px 0 0;
    padding: 18px 24px 12px 24px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0px 3px 15px rgba(51, 51, 51, 0.15);
    display: flex;
    justify-content: space-between;
}

.panel {
    color: #333333;
    background-color: #FFFDF5;
    border-radius: 0 0 30px 30px;
    padding: 18px 24px 12px 24px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0px 3px 15px rgba(51, 51, 51, 0.15);
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.bottone-off {
    color: #333333;
    background-color: #FFFDF5;
    border-radius: 30px;
    padding: 18px 24px 12px 24px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0px 3px 15px rgba(51, 51, 51, 0.15);
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    transition-duration: 0.5s;
}

.bottone-off:hover {
    color: #FFFDF5;
    background-color: #333333;
}

.bottone-on:hover {
    color: #FFFDF5;
    background-color: #333333;
}

.st0 {
    fill: #333333;
    transition-duration: 0.5s;
}

.freccie-bottoni {
    width: 12px;
    margin-top: -5px;
}

.legenda {
    width: 100%;
    padding-top: 16px;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 12px;
    letter-spacing: 0.5px;
    line-height: 1.5;
}

.credits-mobile {
    visibility: hidden;
    display: none;
}

.margin-right {
    margin-right: 48px;
}

.margin-top {
    margin-top: 10px;
}

.logo-hdm {
    width: 150px;
}

.footer-hdm {
    background-color: #333;
    width: 100%;
    padding: 24px 48px 20px 48px;
}

.credits {
    margin-top: 36px;
    color: #FFFDF5;
}

a {
    text-decoration: none;
}

.sx:hover {
    transform: translate(-10px, 0);
}

.dx:hover {
    transform: translate(10px, 0);
}

.dx,
.sx {
    transition-duration: 0.5s;
}

.fonti {
    color: #333333;
    font-weight: bold;
    text-decoration: underline;
    transition-duration: 0.5s;
}

.sito-hdm {
    color: #FFFDF5;
    font-weight: bold;
    text-decoration: underline;
    transition-duration: 0.5s;
}

.sito-hdm {
    color: #FFFDF5;
    font-weight: bold;
    text-decoration: underline;
    transition-duration: 0.5s;
}

.sito-hdm:hover {
    color: #FFFDF5;
    opacity: 0.6;
}

.fonti:hover {
    color: #333;
    opacity: 0.6;
}

@media (max-width: 1500px) {
    .logo {
        display: block;
    }
}

@media (max-width: 1000px) {
    .row {
        display: block;
    }
    .dashboard {
        height: 100px;
        width: 100%;
    }
    .col- {
        padding: 0;
    }
    .navigazione {
        height: auto;
        width: 100%;
        padding: 0px 12px 12px 12px;
    }
    .freccie {
        padding-top: 32px;
        padding-bottom: 24px;
    }
    .container-site-small {
        padding: 24px;
    }
    .legenda {
        margin-bottom: 36px;
    }
    .footer-hdm {
        display: none;
        visibility: hidden;
    }
}