body {
    color: #333333;
    text-align: left;
    background-color: #FFFDF5;
}

.dashboard {
    width: 70%;
}

.navigazione {
    width: 30%;
    padding: 0px 48px 24px 24px;
}

h1 {
    font-family: Georgia, serif;
    font-weight: bold;
    font-size: 32px;
}

h2 {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 10px;
    letter-spacing: 1.5px;
    font-weight: bolder;
}

h3 {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 12px;
    letter-spacing: 0.5px;
    font-weight: 100;
    line-height: 1.4;
}

.logo {
    display: flex;
}

.container-site {
    padding: 40px 48px;
}

.freccie {
    width: 50px;
    display: inline-flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 0 10px;
}

.dx {
    right: 0;
    position: relative;
}

.bottone-on {
    color: #FFFDF5;
    background-color: #333;
    border-radius: 30px 30px 0 0;
    padding: 18px 24px 12px 24px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0px 3px 15px rgba(51, 51, 51, 0.15);
    display: flex;
    justify-content: space-between;
}

.panel {
    color: #333333;
    background-color: #FFFDF5;
    border-radius: 0 0 30px 30px;
    padding: 18px 24px 12px 24px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0px 3px 15px rgba(51, 51, 51, 0.15);
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.bottone-off {
    color: #333333;
    background-color: #FFFDF5;
    border-radius: 30px;
    padding: 18px 24px 12px 24px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0px 3px 15px rgba(51, 51, 51, 0.15);
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    transition-duration: 0.5s;
}

.bottone-off:hover {
    color: #FFFDF5;
    background-color: #333333;
}

.bottone-on:hover {
    color: #FFFDF5;
    background-color: #333333;
}

.st0 {
    fill: #333333;
    transition-duration: 0.5s;
}

.freccie-bottoni {
    width: 12px;
    margin-top: -5px;
}

.legenda {
    width: 100%;
    padding-top: 16px;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 12px;
    letter-spacing: 0.5px;
    font-weight: 100;
    line-height: 1.5;
}

.logo-hdm-mobile {
    margin: 16px 12px 0 12px;
    padding-bottom: 24px;
    width: 100px;
    visibility: hidden;
}

.logo-hdm-desk {
    margin-top: 36px;
    width: 100px;
    margin-bottom: 36px;
}

a {
    text-decoration: none;
}

.sx:hover {
    transform: translate(-10px, 0);
}

.dx:hover {
    transform: translate(10px, 0);
}

.dx,
.sx {
    transition-duration: 0.5s;
}

.fonti {
    color: #333333;
    font-weight: bold;
    text-decoration: underline;
    transition-duration: 0.5s;
}

.fonti:hover {
    color: #333333;
    opacity: 0.6;
}

@media (max-width: 1500px) {
    .logo {
        display: block;
    }
}

@media (max-width: 1000px) {
    .logo-hdm-mobile {
        visibility: visible;
        display: block;
    }
    .row {
        display: block;
    }
    .dashboard {
        height: 100px;
        width: 100%;
        margin-bottom: 72px;
    }
    .col- {
        padding: 0;
    }
    .navigazione {
        height: auto;
        width: 100%;
        padding: 0px 12px 12px 12px;
    }
    .logo-hdm-desk {
        visibility: hidden;
        display: none;
    }
    .freccie {
        padding-top: 32px;
        padding-bottom: 24px;
    }
    .container-site {
        padding: 24px;
    }
}